# 01C - Data Import and Cleaning, Toronto Weather

## Import relevant libraries

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import requests
import json

from datetime import datetime

## Import Toronto Climate Data

In [2]:
# Read Weather Data
df_weather_toronto_raw = pd.read_csv("data/climate-daily-Toronto-2019-2023.csv")

# Keep the original import dataset for comparability / being able to go back 
df_weather_toronto = df_weather_toronto_raw.copy()

In [3]:
df_weather_toronto.head()

,x,y,STATION_NAME,LOCAL_DATE,MEAN_TEMPERATURE_FLAG,CLIMATE_IDENTIFIER,MIN_REL_HUMIDITY,TOTAL_PRECIPITATION,TOTAL_RAIN_FLAG,MIN_TEMPERATURE_FLAG,...,SPEED_MAX_GUST,TOTAL_SNOW_FLAG,ID,MIN_TEMPERATURE,COOLING_DEGREE_DAYS,MAX_TEMPERATURE,MIN_REL_HUMIDITY_FLAG,HEATING_DEGREE_DAYS,MAX_REL_HUMIDITY,TOTAL_SNOW
0,-79.4,43.666667,TORONTO CITY,2019-01-01 0:00,NaN,6158355,66.0,0.4,NaN,NaN,...,NaN,NaN,6158355.2019.1.1,-6.6,0.0,6.3,NaN,18.1,93.0,NaN
1,-79.4,43.666667,TORONTO CITY,2019-01-02 0:00,NaN,6158355,63.0,2.9,NaN,NaN,...,NaN,NaN,6158355.2019.1.2,-8.2,0.0,0.6,NaN,21.8,93.0,NaN
2,-79.4,43.666667,TORONTO CITY,2019-01-03 0:00,NaN,6158355,65.0,0.0,NaN,NaN,...,NaN,NaN,6158355.2019.1.3,-0.6,0.0,1.5,NaN,17.5,93.0,NaN
3,-79.4,43.666667,TORONTO CITY,2019-01-04 0:00,NaN,6158355,55.0,0.0,NaN,NaN,...,NaN,NaN,6158355.2019.1.4,1.2,0.0,7.8,NaN,13.5,80.0,NaN
4,-79.4,43.666667,TORONTO CITY,2019-01-05 0:00,NaN,6158355,70.0,0.0,NaN,NaN,...,NaN,NaN,6158355.2019.1.5,1.0,0.0,3.9,NaN,15.5,84.0,NaN

In [4]:
df_weather_toronto.shape

(1826, 36)

In [5]:
df_weather_toronto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1826 entries, 0 to 1825
Data columns (total 36 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   x                         1826 non-null   float64
 1   y                         1826 non-null   float64
 2   STATION_NAME              1826 non-null   object
 3   LOCAL_DATE                1826 non-null   object
 4   MEAN_TEMPERATURE_FLAG     12 non-null     object
 5   CLIMATE_IDENTIFIER        1826 non-null   int64
 6   MIN_REL_HUMIDITY          1814 non-null   float64
 7   TOTAL_PRECIPITATION       1814 non-null   float64
 8   TOTAL_RAIN_FLAG           0 non-null      float64
 9   MIN_TEMPERATURE_FLAG      12 non-null     object
 10  COOLING_DEGREE_DAYS_FLAG  12 non-null     object
 11  SNOW_ON_GROUND_FLAG       0 non-null      float64
 12  SNOW_ON_GROUND            498 non-null    float64
 13  SPEED_MAX_GUST_FLAG       1826 non-null   object
 14  LOCAL_MONTH               1826 non-null   int64
 15  LOCAL_DAY                 1826 non-null   int64
 16  TOTAL_RAIN                0 non-null      float64
 17  MAX_REL_HUMIDITY_FLAG     12 non-null     object
 18  MEAN_TEMPERATURE          1814 non-null   float64
 19  HEATING_DEGREE_DAYS_FLAG  12 non-null     object
 20  DIRECTION_MAX_GUST_FLAG   1826 non-null   object
 21  TOTAL_PRECIPITATION_FLAG  12 non-null     object
 22  PROVINCE_CODE             1826 non-null   object
 23  MAX_TEMPERATURE_FLAG      12 non-null     object
 24  DIRECTION_MAX_GUST        0 non-null      float64
 25  LOCAL_YEAR                1826 non-null   int64
 26  SPEED_MAX_GUST            0 non-null      float64
 27  TOTAL_SNOW_FLAG           0 non-null      float64
 28  ID                        1826 non-null   object
 29  MIN_TEMPERATURE           1814 non-null   float64
 30  COOLING_DEGREE_DAYS       1814 non-null   float64
 31  MAX_TEMPERATURE           1814 non-null   float64
 32  MIN_REL_HUMIDITY_FLAG     12 non-null     object
 33  HEATING_DEGREE_DAYS       1814 non-null   float64
 34  MAX_REL_HUMIDITY          1814 non-null   float64
 35  TOTAL_SNOW                0 non-null      float64
dtypes: float64(18), int64(4), object(14)
memory usage: 513.7+ KB

## Inspecting columns and dropping irrelevant columns

In [6]:
# Loop through columns
# For columns with only 1 unique item, print the unique item 

list_col_names_redundant = [] # instantiate the list

for col in df_weather_toronto.columns:
    arr_unique_col_items = df_weather_toronto[col].unique()
    if len(df_weather_toronto[col].unique()) == 1:
        
        # Add to list 
        list_col_names_redundant.append(col)
        
        # Print column, and value
        print(col)
        print(arr_unique_col_items)

x
[-79.4]
y
[43.66666667]
STATION_NAME
['TORONTO CITY']
CLIMATE_IDENTIFIER
[6158355]
TOTAL_RAIN_FLAG
[nan]
SNOW_ON_GROUND_FLAG
[nan]
SPEED_MAX_GUST_FLAG
['M']
TOTAL_RAIN
[nan]
DIRECTION_MAX_GUST_FLAG
['M']
PROVINCE_CODE
['ON']
DIRECTION_MAX_GUST
[nan]
SPEED_MAX_GUST
[nan]
TOTAL_SNOW_FLAG
[nan]
TOTAL_SNOW
[nan]

Based on a visual inspection above, it doesn't seem like the above columns provide any extra value as they have the same value across all rows. These columns will be dropped.

In [7]:
# Check list of redundant columns
list_col_names_redundant

['x',
 'y',
 'STATION_NAME',
 'CLIMATE_IDENTIFIER',
 'TOTAL_RAIN_FLAG',
 'SNOW_ON_GROUND_FLAG',
 'SPEED_MAX_GUST_FLAG',
 'TOTAL_RAIN',
 'DIRECTION_MAX_GUST_FLAG',
 'PROVINCE_CODE',
 'DIRECTION_MAX_GUST',
 'SPEED_MAX_GUST',
 'TOTAL_SNOW_FLAG',
 'TOTAL_SNOW']

In [8]:
# Drop redundant columns
df_weather_toronto.drop(columns=list_col_names_redundant, inplace=True)

In [9]:
df_weather_toronto.shape

(1826, 22)

In [10]:
df_weather_toronto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1826 entries, 0 to 1825
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   LOCAL_DATE                1826 non-null   object
 1   MEAN_TEMPERATURE_FLAG     12 non-null     object
 2   MIN_REL_HUMIDITY          1814 non-null   float64
 3   TOTAL_PRECIPITATION       1814 non-null   float64
 4   MIN_TEMPERATURE_FLAG      12 non-null     object
 5   COOLING_DEGREE_DAYS_FLAG  12 non-null     object
 6   SNOW_ON_GROUND            498 non-null    float64
 7   LOCAL_MONTH               1826 non-null   int64
 8   LOCAL_DAY                 1826 non-null   int64
 9   MAX_REL_HUMIDITY_FLAG     12 non-null     object
 10  MEAN_TEMPERATURE          1814 non-null   float64
 11  HEATING_DEGREE_DAYS_FLAG  12 non-null     object
 12  TOTAL_PRECIPITATION_FLAG  12 non-null     object
 13  MAX_TEMPERATURE_FLAG      12 non-null     object
 14  LOCAL_YEAR                1826 non-null   int64
 15  ID                        1826 non-null   object
 16  MIN_TEMPERATURE           1814 non-null   float64
 17  COOLING_DEGREE_DAYS       1814 non-null   float64
 18  MAX_TEMPERATURE           1814 non-null   float64
 19  MIN_REL_HUMIDITY_FLAG     12 non-null     object
 20  HEATING_DEGREE_DAYS       1814 non-null   float64
 21  MAX_REL_HUMIDITY          1814 non-null   float64
dtypes: float64(9), int64(3), object(10)
memory usage: 314.0+ KB

## Date-related fields

In [11]:
# Update Date to 
df_weather_toronto['LOCAL_DATE'] = df_weather_toronto['LOCAL_DATE'].astype('datetime64[ns]')

In [12]:
# Check datatype is updated
df_weather_toronto['LOCAL_DATE'].dtype

dtype('<M8[ns]')

In [13]:
# View Date Related Column by value count# 
df_weather_toronto['LOCAL_YEAR'].value_counts().sort_index()

2019    365
2020    366
2021    365
2022    365
2023    365
Name: LOCAL_YEAR, dtype: int64

In [14]:
# View Date Related Column by value count
df_weather_toronto['LOCAL_MONTH'].value_counts().sort_index()

1     155
2     141
3     155
4     150
5     155
6     150
7     155
8     155
9     150
10    155
11    150
12    155
Name: LOCAL_MONTH, dtype: int64

In [15]:
# View Date Related Column by value count
df_weather_toronto['LOCAL_DAY'].value_counts().sort_index()

1     60
2     60
3     60
4     60
5     60
6     60
7     60
8     60
9     60
10    60
11    60
12    60
13    60
14    60
15    60
16    60
17    60
18    60
19    60
20    60
21    60
22    60
23    60
24    60
25    60
26    60
27    60
28    60
29    56
30    55
31    35
Name: LOCAL_DAY, dtype: int64

In [16]:
df_weather_toronto['ID']

0         6158355.2019.1.1
1         6158355.2019.1.2
2         6158355.2019.1.3
3         6158355.2019.1.4
4         6158355.2019.1.5
               ...
1821    6158355.2023.12.27
1822    6158355.2023.12.28
1823    6158355.2023.12.29
1824    6158355.2023.12.30
1825    6158355.2023.12.31
Name: ID, Length: 1826, dtype: object

In [17]:
list_col_names_redundant = ['LOCAL_YEAR', 'LOCAL_MONTH', 'LOCAL_DAY','ID'] 

# Drop redundant columns
df_weather_toronto.drop(columns=list_col_names_redundant, inplace=True)

In [18]:
df_weather_toronto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1826 entries, 0 to 1825
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   LOCAL_DATE                1826 non-null   datetime64[ns]
 1   MEAN_TEMPERATURE_FLAG     12 non-null     object
 2   MIN_REL_HUMIDITY          1814 non-null   float64
 3   TOTAL_PRECIPITATION       1814 non-null   float64
 4   MIN_TEMPERATURE_FLAG      12 non-null     object
 5   COOLING_DEGREE_DAYS_FLAG  12 non-null     object
 6   SNOW_ON_GROUND            498 non-null    float64
 7   MAX_REL_HUMIDITY_FLAG     12 non-null     object
 8   MEAN_TEMPERATURE          1814 non-null   float64
 9   HEATING_DEGREE_DAYS_FLAG  12 non-null     object
 10  TOTAL_PRECIPITATION_FLAG  12 non-null     object
 11  MAX_TEMPERATURE_FLAG      12 non-null     object
 12  MIN_TEMPERATURE           1814 non-null   float64
 13  COOLING_DEGREE_DAYS       1814 non-null   float64
 14  MAX_TEMPERATURE           1814 non-null   float64
 15  MIN_REL_HUMIDITY_FLAG     12 non-null     object
 16  HEATING_DEGREE_DAYS       1814 non-null   float64
 17  MAX_REL_HUMIDITY          1814 non-null   float64
dtypes: datetime64[ns](1), float64(9), object(8)
memory usage: 256.9+ KB

## Fields with data missing for half of rows or more

In [19]:
# Get list of columns with less than half the fields
df_weather_toronto.isna().sum().loc[lambda x: x > (df_weather_toronto.shape[0]/2)]

MEAN_TEMPERATURE_FLAG       1814
MIN_TEMPERATURE_FLAG        1814
COOLING_DEGREE_DAYS_FLAG    1814
SNOW_ON_GROUND              1328
MAX_REL_HUMIDITY_FLAG       1814
HEATING_DEGREE_DAYS_FLAG    1814
TOTAL_PRECIPITATION_FLAG    1814
MAX_TEMPERATURE_FLAG        1814
MIN_REL_HUMIDITY_FLAG       1814
dtype: int64

In [20]:
# Get the above column names in list form.
list_col_names_redundant = df_weather_toronto.isna().sum().loc[lambda x: x > (df_weather_toronto.shape[0]/2)].index.to_list()

# Show list
list_col_names_redundant

['MEAN_TEMPERATURE_FLAG',
 'MIN_TEMPERATURE_FLAG',
 'COOLING_DEGREE_DAYS_FLAG',
 'SNOW_ON_GROUND',
 'MAX_REL_HUMIDITY_FLAG',
 'HEATING_DEGREE_DAYS_FLAG',
 'TOTAL_PRECIPITATION_FLAG',
 'MAX_TEMPERATURE_FLAG',
 'MIN_REL_HUMIDITY_FLAG']

In [21]:
# Drop columns
df_weather_toronto.drop(columns=list_col_names_redundant, inplace=True)

##### Note:
- For field "SNOW_ON_GROUND", it may make sense to have null values more than half the time as generally speaking winter only represents 25% of the year (based simply on 1 / 4 seasons). 
- However, this will still be dropped at this stage as the missing data below is easier to work without this column.
- This columne can be analyzed using the "raw" dataframe imported at the beginning of this workbook

## Look at Missing Data

In [22]:
# Look at remaining columns
df_weather_toronto.isna().sum()

LOCAL_DATE              0
MIN_REL_HUMIDITY       12
TOTAL_PRECIPITATION    12
MEAN_TEMPERATURE       12
MIN_TEMPERATURE        12
COOLING_DEGREE_DAYS    12
MAX_TEMPERATURE        12
HEATING_DEGREE_DAYS    12
MAX_REL_HUMIDITY       12
dtype: int64

In [23]:
# Look for how many rows have 1 or more missing values
df_weather_toronto.isna().any(axis=1).sum()

# If below number is 12 - then all the missing values are on the same date.

12

It appears there are 12 days between 2019 - 2023 with missing values across the board (excluding "SNOW_ON_GROUND")

In [24]:
# Get the 12 dates
list_12_dates = df_weather_toronto[df_weather_toronto.isna().any(axis=1)]['LOCAL_DATE'].to_list()

# Show
list_12_dates

[Timestamp('2019-04-15 00:00:00'),
 Timestamp('2019-08-22 00:00:00'),
 Timestamp('2019-12-24 00:00:00'),
 Timestamp('2020-01-14 00:00:00'),
 Timestamp('2020-08-10 00:00:00'),
 Timestamp('2020-10-27 00:00:00'),
 Timestamp('2020-10-28 00:00:00'),
 Timestamp('2021-07-20 00:00:00'),
 Timestamp('2021-11-01 00:00:00'),
 Timestamp('2021-11-16 00:00:00'),
 Timestamp('2022-10-27 00:00:00'),
 Timestamp('2023-11-07 00:00:00')]

In [25]:
# Quick overview of how many days between missing data

for i in range(0, len(list_12_dates)):
    if i == 0:
        continue # skip this iteration of loop
    else:
        print((list_12_dates[i] - list_12_dates[i-1]).days, " days")

129  days
124  days
21  days
209  days
78  days
1  days
265  days
104  days
15  days
345  days
376  days

There are two days of back-to-back missing data, which are Oct 27 & 28th of 2020.

### Filling in Missing Data with Forward Fill

This technique fills in null values using the last valid observation (i.e. the day before).

For Oct 27 & 28th of 2020 (two days of back-to-back missing data), the value will be based on Oct 26th's data

In [26]:
df_weather_toronto.ffill(inplace=True)

In [27]:
# Show how Forward Fill works with the 2 consecutive dates with missing values
df_weather_toronto[df_weather_toronto['LOCAL_DATE'] >= datetime(2020,10,26)].head()

,LOCAL_DATE,MIN_REL_HUMIDITY,TOTAL_PRECIPITATION,MEAN_TEMPERATURE,MIN_TEMPERATURE,COOLING_DEGREE_DAYS,MAX_TEMPERATURE,HEATING_DEGREE_DAYS,MAX_REL_HUMIDITY
664,2020-10-26,57.0,1.7,6.3,3.9,0.0,8.6,11.7,84.0
665,2020-10-27,57.0,1.7,6.3,3.9,0.0,8.6,11.7,84.0
666,2020-10-28,57.0,1.7,6.3,3.9,0.0,8.6,11.7,84.0
667,2020-10-29,65.0,0.0,6.8,2.9,0.0,10.7,11.2,80.0
668,2020-10-30,56.0,0.0,0.7,-1.9,0.0,3.3,17.3,71.0

### Write to CSV

In [28]:
# Write to CSV 
df_weather_toronto.to_csv("data/climate_daily_Toronto_2019_2023_clean.csv",
                          index = False) # don't include index as a separate column)